@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root{
    --primary-color: rgb(224, 221, 221);
    --secondary-color: #5b54fa;
    --third-color: white; 
}

body{
    background-color: var(--primary-color);
    height: 100vh;
    max-width: 50%;
    font-family: 'Lora', serif;
    margin:auto;
    text-align: center;
    padding: 30px;
}

h1,h2{
    color: var(--secondary-color);
}

.container{
    border: 5px solid var(--secondary-color);
    padding: 20px;
    background-color: var(--third-color);
}
.container input{
    height: 0rem;
    padding: 1.2rem;
    border-radius:10px;
    box-shadow:  3px 3px 3px #353535;
    font-size: 1.3rem;

}

.container button{
    margin:auto;
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    border: 2px solid white;
    color:white;
    font-size: 1.3rem;
    background-color: var(--secondary-color);
    cursor: pointer;
}


#output-div{
    padding-top: 0.2rem;
    font-size:1.8rem;
    font-weight: bold;
}

.footer {
    margin: 1rem;
    padding-bottom: 0.1rem;
}

.footer a {
    padding-inline: 0.5rem;
    font-size: 30px;
    color: var(--secondary-color);
    text-decoration: none;
}

#me{
    color: var(--secondary-color);
}